<div class="wrapper">
    <footer class="footer col-md-12">
        <div class="container">
            <div class="row footerrow">
                <div class="col-sm">
                    <u><b>A propos</b></u>
                </div>
                <div class="col-sm">
                    <u><b>Acheter de l'art</b></u>
                </div>
                <div class="col-sm">
                    <u><b>Nous contacter</b></u>
                </div>
            </div>
            <div class="row footerrow">
                <div class="col-sm">
                    Online Art recrute !
                </div>
                <div class="col-sm">
                    Oeuvres
                </div>
                <div class="col-sm">
                    connectart@gmail.com
                </div>
            </div>
            <div class="row footerrow">
                <div class="col-sm">
                    Blog
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <a [routerLink]="['']"><i class="fab fa-facebook"></i></a>
                    <a [routerLink]="['']"><i class="fab fa-twitter-square"></i></a>
                    <a [routerLink]="['']"><i class="fab fa-linkedin"></i></a>
                    <a [routerLink]="['']"><i class="fab fa-pinterest-square"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>