<div class="wrapper">
    <div class="col-md-12" id="homeBackground">
        <p id="welcomeHome">Connectez votre âme d'artiste.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="col-homeLogo"></div>
            <div class="col-md-8" id="col-homeOne">
                Online Art a été créé dans le but de permettre aux artistes contemporains de présenter ou vendre leur
                travail
                eux même, de manière simple et intuitive. La galerie propose aux acheteurs et collectionneurs une mise
                en
                relation directe: un accès privilégié aux artistes du monde entier, sans intermédiaire, avec des prix
                direct
                atelier.
            </div>
        </div>
        <div class="row" style="background-color: #EDEDED;">
            <div class="col-md-6" id="backgroundRowTwo">
            </div>
            <div class="col-md-6">
                <p id="col-homeTitle">Vendez sur Online Art : </p>
                <ul id="col-home">
                    <li>
                        0% de commission sur les ventes
                    </li>
                    <li>
                        Oeuvres protégées
                    </li>
                    <li>
                        Oeuvres illimitées
                    </li>
                    <li>
                        Possibilité de garder l'anonymat
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p id="col-homeTitle">Achetez sur Online Art : </p>
                <ul id="col-home">
                    <li>
                        Expédition assurées contre la perte et la dégradation
                    </li>
                    <li>
                        Livraison partout dans le monde
                    </li>
                    <li>
                        Artistes reconnus
                    </li>
                    <li>
                        Oeuvres certifiées
                    </li>
                </ul>
            </div>
            <div class="col-md-6" id="backgroundRowThree">
            </div>
        </div>
    </div>
</div>